<mat-card
  class="card"
  [appearance]="appearance"
>
  @if (title || subtitle || image) {
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>
        {{ title }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ subtitle }}
      </mat-card-subtitle>
      @if (!expanded) {
      <img
        mat-card-avatar
        [src]="image"
      />
      } @else {
      <img
        mat-card-sm-image
        [src]="image"
      />
      }
    </mat-card-title-group>
  </mat-card-header>
  }

  <mat-card-content>
    <!-- Basic content when not expanded -->
    @if (!expanded) {
    <p>
      <strong>Phone:</strong>
      {{ content }}
    </p>
    }

    <!-- Additional details when expanded -->
    @if (expanded) {
    <div class="expanded-content">
      <p><strong>Phone:</strong> {{ content }}</p>
      <p><strong>Cell:</strong> {{ cell }}</p>
      <p><strong>Gender:</strong> {{ gender }}</p>
      <p><strong>Age:</strong> {{ dob?.age }}</p>
      <p><strong>Location:</strong></p>
      <ul>
        <li>Street: {{ location?.street?.number }} {{ location?.street?.name }}</li>
        <li>City: {{ location?.city }}</li>
        <li>State: {{ location?.state }}</li>
        <li>Country: {{ location?.country }}</li>
        <li>Postcode: {{ location?.postcode }}</li>
        <li>Timezone: {{ location?.timezone?.description }}</li>
      </ul>
      <p><strong>Registered:</strong> {{ registered?.date | date }}</p>
    </div>
    }
  </mat-card-content>

  <mat-card-actions>
    @for (action of actions; track action) {
    <button
      mat-flat-button
      (click)="onAction(subtitle)"
    >
      {{ action }}
    </button>
    }
  </mat-card-actions>
</mat-card>
