:host {
  mat-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: auto;
    height: 100%;

    mat-card-header {
      background-color: var(--mat-sys-primary-container);
      color: var(--mat-sys-on-primary-container);
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      padding: 1rem;

      mat-card-title {
        font-size: 1.5rem;
        font-weight: bold;
      }

      mat-card-subtitle {
        font-size: 1rem;
        color: var(--mat-sys-on-primary-container);
        opacity: 0.8;
      }

      img {
        border-radius: 50%;
        margin-left: auto;
      }
    }

    mat-card-content {
      padding: 1rem;
      color: var(--mat-sys-text-color);
    }

    mat-card-actions {
      padding: 1rem;
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      display: flex;
      justify-content: flex-end;

      button {
        margin-left: 0.5rem;
      }
    }
  }
}
